hh1{
    text-align: center;
    margin-top: 100px ;
}

body {
    background-color: rgb(61, 62, 63);
    margin: 0;
    padding: 0;
}

#myArkanoid{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    box-shadow: 0 0 30px rgba(0, 212, 255, 0.3);
    background-color: rgb(0, 0, 0);
}

#myArkanoidGameOver{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-image: url("./images/image.jpg");
    background-size: cover;
    cursor: pointer;
    display: none;
    z-index: 2;
}